
@font-face {
  font-family: AlbertSans-Regular;      
  src: url('../fonts/albertsans-regular-400-normal.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: iconfk;      
  src: url('../fonts/iconfk-400-normal.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: AlbertSans-SemiBold;      
  src: url('../fonts/albertsans-semibold-600-normal.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}
